<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>还挺整齐的</string>
		<key>url</key>
		<string>charge3</string>
		<key>updatetime</key>
		<string>2017-02-08 14：2：08</string>
	</dict>
    <dict>
        <key>content</key>
        <string>真羡慕前面那哥们年纪轻轻的就开了一个法拉利</string>
        <key>url</key>
        <string>charge2</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>这应该叫什么西施</string>
        <key>url</key>
        <string>charge1</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>这一家人的基因真是复制粘贴</string>
        <key>url</key>
        <string>charge4</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>这可就是跨国形式案件了</string>
        <key>url</key>
        <string>charge5</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>搞笑图片</string>
        <key>url</key>
        <string>charge6.jpg</string>
        <key>updatetime</key>
        <string>2017-02-21 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>搞笑图片</string>
        <key>url</key>
        <string>charge7.jpg</string>
        <key>updatetime</key>
        <string>2017-02-21 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>搞笑图片</string>
        <key>url</key>
        <string>charge8.jpg</string>
        <key>updatetime</key>
        <string>2017-02-21 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>搞笑图片</string>
        <key>url</key>
        <string>charge9.jpg</string>
        <key>updatetime</key>
        <string>2017-02-21 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>搞笑图片</string>
        <key>url</key>
        <string>charge10.jpg</string>
        <key>updatetime</key>
        <string>2017-02-21 14：2：08</string>
    </dict>
</array>
</plist>
