<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>去面试时，我对领导说，我想当这个单位的负责人，领导说好的。于是就让我当了临时工，说以后出什么事都是我负责。</string>
		<key>updatetime</key>
		<string>2017-02-08 14：2：08</string>
	</dict>
	<dict>
		<key>content</key>
		<string>一个女人生一个孩子要十个月，所以十个女人生出这个孩子只需要一个月，加加班还可以压缩到两个星期。。。嗯，给你五个女人，一个月后我要看到这个孩子。——IT公司老板的思考逻辑</string>
		<key>updatetime</key>
		<string>2017-02-08 14：2：08</string>
	</dict>
	<dict>
		<key>content</key>
		<string>老板今天问我：“你要不要养老金？”。我说：“要啊！”。老板把我领进财务室，指着一个老头对我说，“这位就是老金，以后拜托你来养了。”</string>
		<key>updatetime</key>
		<string>2017-02-08 14：2：08</string>
	</dict>
	<dict>
		<key>content</key>
		<string>公司食堂一直供应豆浆，刚开始大家都爱喝，后来味道却越来越淡，可能是水加太多了，谁也不愿意再喝。这样餐餐剩着太浪费，食堂就把豆浆换成了白开水。换成白开水更没人喝了，烧水要用燃料，还没人喝，食堂干脆水也不烧了。结果豆浆桶里就只装了一桶自来水。。。老板发现后，说：这么大个桶，只装自来水太可惜了，在里面养几条金鱼吧！</string>
		<key>updatetime</key>
		<string>2017-02-08 14：2：08</string>
	</dict>
    <dict>
        <key>content</key>
        <string>昨晚公司加班，和女领导为工作的事发生了争执，闹得不欢而散，回到家心里一直不痛快，老婆问我咋了，我说没事，她一脸狐疑地看着我。今天早饭，女领导用微信给我发了一条语音，因为吃饭，我打开了声音，只听她说：大家都是成年人了，昨晚的事就算了，就当什么也没发生。。。老婆没听完，一碗豆浆直接泼到我脸上。。。</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>公司一女领导问一个同事：我家请了个保姆接送孩子上下学，我该给她配辆什么车呢？同事：那就要看看你家那位跟保姆到哪种地步了！女领导!@#!@#$@#$%</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>三女人上班聊天。A：我昨晚跟老公睡觉的时候摸了他蛋蛋，竟然是凉的。B：还真没留意过耶，晚上回去试试。第二天，B：你说得是真的，昨晚摸了我老公的蛋蛋，确实是凉的！第三天，她们看到C满脸瘀伤，眼里含着泪：再也不相信你们了，昨晚手放我老公蛋蛋上，没忍住说了句：咦？奇怪啊，别人的蛋蛋都是凉的，怎么你的是热的啊？</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>一群游客在大巴上看老虎，一大款说，谁敢下车跑一圈还能活着上来，我给他一百万。。。话音刚落，一人扑通跳下车，拼命跑了一圈，被老虎追得喘不上气，好不容易才爬上车，大家忙着向他道喜，祝贺他获得一百万元。但只见这人怒火冲冲地问：是谁刚才把我推下车的？回头一望，只见他的​老婆在笑，你回来了，我就收钱，你回不来，我就换人。。。每个成功的男人背后，都有一个优秀的女人， 关键时刻，能推你一把！！！</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>医院里排队，一男子突然倒地。。。众人大惊，都问：“怎么回事？怎么回事？”男子萎靡不振的道：“没事，低血糖。”这时，一妹子手拿一个小杯子，敢紧走过来：“哎哟，低血糖，快快快，喝一口喝一口。”男子一饮而尽。。。一小会儿后，妹子问：“怎么样，好点了吗？”“感觉好多了！”男的道：“这是什么呀？”妹子：“这个呀，尿检样本，我糖尿病。”然后。。。男子。。。男子就昏过去了。。。</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
    <dict>
        <key>content</key>
        <string>A：“你这傻蛋！被人卖了还帮忙数钱！”B：“胡说！我要真傻，别人又怎么放心让我数钱？”A。。。</string>
        <key>updatetime</key>
        <string>2017-02-08 14：2：08</string>
    </dict>
</array>
</plist>
